WebContent/wsdl/CompileString.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://marbleworldhw.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://marbleworldhw.org" xmlns:intf="http://marbleworldhw.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://marbleworldhw.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="compile">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="compileResponse">
    <complexType>
     <sequence>
      <element name="compileReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="compileRequest">

      <wsdl:part element="impl:compile" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="compileResponse">

      <wsdl:part element="impl:compileResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CompileString">

      <wsdl:operation name="compile">

         <wsdl:input message="impl:compileRequest" name="compileRequest">

       </wsdl:input>

         <wsdl:output message="impl:compileResponse" name="compileResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CompileStringSoapBinding" type="impl:CompileString">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="compile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="compileRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="compileResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CompileStringService">

      <wsdl:port binding="impl:CompileStringSoapBinding" name="CompileString">

         <wsdlsoap:address location="http://localhost:8080/MarbleWorldHWserver/services/CompileString"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
